[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FAMetA"]
	path = FAMetA
	url = https://github.com/maialba3/fameta
[submodule "LipidMS"]
	path = LipidMS
	url = https://github.com/maialba3/lipidms
